{% extends "base.html" %}

{% block content %}
  <!-- Your index page content -->
  <h2>Welcome to the Index Page</h2>
  <!-- ... (other content) -->
  {% if current_user.is_authenticated %}
      <p>Hello, {{ current_user.username }}!</p>
      <p><a href="{{ url_for('main.generate_user_password') }}">Generate Password</a></p>
      <p><a href="{{ url_for('main.user_passwords') }}">Check Passwords</a></p>
      <p><a href="{{ url_for('login.logout') }}">Logout</a></p>
  {% else %}
      <form action="{{ url_for('login.login') }}" method="get">
          <button type="submit">Login</button>
      </form>

      <form action="{{ url_for('login.register') }}" method="get">
          <button type="submit">Register</button>
      </form>
  {% endif %}
{% endblock %}