<!-- app/main/templates/user_passwords.html -->

{% extends "base.html" %}

{% block content %}
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="{{ url_for('static', filename='decryption.js') }}"></script>
  </head>
  <h2>Stored Passwords</h2>
  <table>
    <thead>
      <tr>
        <th>Site</th>
        <th>Password</th>
      </tr>
    </thead>
    <script>
      function promptAndDecryptPassword(index) {
        var masterPassword = prompt("Enter your master password:");
        if (masterPassword) {
          var password = document.getElementById('encrypted-password-' + index).innerText;
          decryptPassword(password, masterPassword);
        }
      }
    </script>
    <tbody>
      {% for password in passwords %}
        <tr>
          <td>{{ password.site }}</td>
          <td id="encrypted-password-{{ loop.index }}">{{ password.password }}</td>
          <td><button onclick="promptAndDecryptPassword('{{ loop.index }}')">Decrypt</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><a href="{{ url_for('main.index') }}">Return to Main Page</a></p>
{% endblock %}