<!-- app/main/templates/user_passwords.html -->

{% extends "base.html" %}

{% block content %}
  <h2>Stored Passwords</h2>
  <table>
    <thead>
      <tr>
        <th>Site</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      {% for password in passwords %}
        <tr>
          <td>{{ password.site }}</td>
          <td>{{ password.password }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p><a href="{{ url_for('main.index') }}">Return to Main Page</a></p>
{% endblock %}